apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: default
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'car-keeper-api'
        # If your NestJS metrics are on /metrics, keep this. 
        # If they are on default path, remove metrics_path.
        metrics_path: /metrics 
        static_configs:
          # INTERNAL DNS: Uses the Service Name + Port
          - targets: ['car-keeper-api:8000']