apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  labels:
    app: jaeger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
      - name: jaeger
        image: jaegertracing/all-in-one:latest
        ports:
        - containerPort: 16686 # UI
        - containerPort: 4318  # OTLP HTTP
        - containerPort: 14268 # Collector HTTP
        - containerPort: 6831  # Agent UDP
          protocol: UDP
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger
spec:
  selector:
    app: jaeger
  ports:
  - name: ui
    port: 16686
    targetPort: 16686
  - name: otlp
    port: 4318
    targetPort: 4318
  - name: collector
    port: 14268
    targetPort: 14268
  - name: agent-compact
    port: 6831
    protocol: UDP
    targetPort: 6831